/* @import url('../../Fonts/Euclid\ Circular\ B\ Medium.ttf'); */
.wave{
    flex:1;
    bottom:0;
    position: absolute;
    left:0;
    right:0;
    color:red;
    
}
.home-desc h1{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: cursive; */
    font-weight: none;
    font-size: 25px;
    color:rgb(25, 23, 23);
    padding-top: 10px;
    font-family:'Euclid Circular B';
    
}
.image1{
    height:92vh;
    width:100%;
    background-image: url('../../Assets/725.jpg');
    background-size: cover;
    position:absolute;
    opacity: 0.4;
}
.home-desc{
    flex:1;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 50px;
    margin-left:20px;
    position:absolute;
    padding:1rem;
    /* border:1px solid black; */
    background-color: rgb(255, 255, 255, .5);
    border-radius: 7px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);

    
    

    
}
.content{
    display:flex;
    height:95vh;
    position: relative;
}

