.main-login-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:95vh;
    /* background-image: url('../../Assets/725.jpg'); */
    background-size: cover;
    position:absolute;
    background-color: black;
    
    width:100%;
}
.login-btn button{
 display:flex;
 position:relative;
 align-items: center;
 justify-content: center;
 gap:0.3rem;
 font-size: xx-large;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 border-radius: 4px;
 padding:5px;
 box-shadow: 
 0 2px 3px 0 rgb(255, 251, 251), /* Top shadow */
 0 -2px 3px 0 rgb(255, 251, 251), /* Bottom shadow */
 2px 0 3px 0 rgb(255, 251, 251), /* Right shadow */
 -2px 0 3px 0 rgb(255, 251, 251); /* Left shadow */
 
}
.login-btn button:hover{
    box-shadow: 
    0 4px 6px 0 rgb(255, 251, 251), /* Top shadow */
    0 -4px 6px 0 rgb(255, 251, 251), /* Bottom shadow */
    4px 0 6px 0 rgb(255, 251, 251), /* Right shadow */
    -4px 0 6px 0 rgb(255, 251, 251); /* Left shadow */
   
}
.login-btn{
    width:500px;
    border: 2px solid black;
    height:500px;
    display:flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(241, 226, 206, 0.6); */
    
    border-radius: 6px;
}